@import '../../../config/variables';

.image-box {
  cursor: pointer;

  &__container {
    height: 350px;
    background-color: $light-gray;
    filter: contrast(80%);
  }

  &__title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    
    color: white;
    background-color: rgba(black, .4);
    text-align: center;
    width: 80%;
    padding: 4px;
    border-radius: 5px;
  }

  &:hover {
    .image-box__container {
      filter: none;
      box-shadow: none!important;
      transition: .1s ease-in-out;
    }
  }
}